.contont-box {
  width: 100%;
  height: 100%;
  position: relative;
  .left-side-box {
    box-sizing: border-box;
    width: 14%;
    height: 100%;
    padding: 0 20px;
    min-width: 100px;
    position: absolute;
    left: 0;
    background: #f8f8f8;
    .userAccount {
      margin-top: 2%;
    }
    .menuList {
      width: 10%;
      height: 8%;
      min-width: 100px;
      padding-left: 5%;
      position: relative;
      i {
        position: absolute;
        left: 7%;
        top: 4%;
      }
      a {
        text-decoration: none;
        color: #042e6f;
      }
    }
    .addEdit {
      i {
        top: 0;
      }
    }
    .el-icon-plus {
      width: 20px;
      height: 16px;
      background: #5a98de;
      border-radius: 50%;
      padding-top: 4px;
    }
  }
  .right-side-box {
    width: 100%;
    height: 100%;
    background: pink;
    box-sizing: border-box;
    padding-left: 14%;
    z-index: -999;
  }
}