.wrapper {
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 22%;
  height: 40%;
  padding: 20px;
  padding-top: 60px;
  border-radius: 20px;
  background: #f8f8f8;
  min-height: 220px;
  min-width: 280px;
  margin-top: 8%;
  .el-form-item {
    height: 20%;
    width: 100%;
    padding: 0 20px;
    .el-form-item__content {
      width: 100%;
      margin-left: 0px !important;
      margin-top: 6px;
      .el-button {
        width: 80%;
        float: left;
        padding: 8px;
        background: #5a98de;
      }
    }
    .el-input {
      width: 60%;
    }
  }
  .el-button+.el-button {
    margin-left: 10px;
  }
  .login-footer {
    width: 100%;
    padding: 10px;
    min-width: 280px;
    padding-left: 16px;
    box-sizing: border-box;
    list-style: none;
    a,
    span {
      float: left;
      text-decoration: none;
      padding: 0 6px;
      color: #5a98de;
      ;
    }
  }
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: #5a98de;
}

.el-form-item.is-success .el-input__validateIcon {
  color: #5a98de;
}