.openFolderContent {
  width: 100%;
  height: 100%;

  .flie-box,
  .folder-box {
    float: left;
    height: 10%;
    margin: 4% 2%;
    color: #333;

    i {
      color: rgb(164, 184, 204);
      font-size: 2rem;
      display: block; //占一行
      padding-bottom: 6px;
    }
  }

  .menu {
    ul {
      background: #ffffff;
      box-shadow: 2px 2px 2px #888888;
      padding: 0;
      border: 1px solid #d5dae0;
      color: #333;
      font-size: 12px;

      li {
        cursor: pointer;
        list-style: none;
        padding: 6px 32px;
      }

      li:hover {
        background: #d5dae0;
      }
    }
  }
}
